@mixin flex($direction: row, $align: stretch, $justify: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin transition($time: 0.3s, $type: ease) {
    transition: $time $type;
}

@mixin icon-bg($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
