$nav_item_color: $primary_color;
$logo_color: $primary_color;
$color_text: $primary_color;
$color_btn: $primary_color;
$color_border: $primary_color;

$color-btn-cancel: $rose;
$fild-title-students: $rose;

$disablet_btn: $disablet_text;
$active_color: $red;

$big_elem_color: $ping_big;
$post_bg_color: $ping_big;
$bg_text_testimonials_slide: $primary_color;
$color_text_sliders: $pure_white;

$input_border_color: $grey;
$input_focus_color: $primary_color;
$border_light: $grey;
$icon_color_secondary: $icon_gray;

$post_hover_shadow_color: rgba(0, 0, 0, 0.25);
