// fonts
$font-small: 12px;
$font-medium: 18px;
$font-title: 24px;
$font-author: 20px;

// #region Blog
// size
$input-radius: 12px;
$input-padding: 13px 50px 13px 12px;
$input-width: 300px;
$margin-bottom-section: 108px;

// Padding
$post-padding: 54px;
$post-padding-left: 90px;

// gap
$gap-stars: 4px;
$gap-post-list: 42px;
$gap-header: 16px;
$gap-meta: 6px;
$gap-details: 20px;
$gap-body: 24px;
$gap-content: 51px;
// #endregion
